{% extends 'MaterialRecommender/base.html' %} 
{% load static %} 


{% block css %}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color:rgb(127, 177, 218);
  }
  .styled-table tbody tr:nth-of-type(odd) {
    background-color: rgb(127, 177, 218);
  }

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color:black;
}

{% endblock css %}



{% block content %}


<div class="container mx-auto mt-4">
    <h2 class="text-light text-center"> Useful Links</h2>
    <table class="styled-table" style="margin-left:360px;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Visit Link</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active-row">
                <td>Geek For Geeks</td>
                <td><a href="https://www.geeksforgeeks.org/" class="btn"><i class="fas fa-link"></i> Visit Site</a></td>
            </tr>
            <tr class="active-row">>
                <td>Tutorials Point</td>
                <td><a href="https://www.tutorialspoint.com/index.htm" class="btn"><i class="fas fa-link"></i> Visit Site</a></td>
            </tr>
            <tr class="active-row">
                <td>Stack Overflow</td>
                <td><a href="https://stackoverflow.com/" class="btn"><i class="fas fa-link"></i> Visit Site</a></td>
            </tr>
            <!-- and so on... -->
        </tbody>
    </table>
    </div>

{% endblock content %}